@model Note



<div>
    <form asp-action="EditNote" method="post">
        <div>

            <div asp-validation-summary="All"></div>

            <div>
                <label asp-for="Subject">Subject</label>
                @if (Model != null)
                {
                    <input asp-for="Subject" value="@Model.Subject" />
                }
                else
                {
                    <input asp-for="Subject" value="" />
                }

            </div>

            <div>
                <label asp-for="Detail">Your Note</label>
                @if (Model != null)
                {
                    <textarea asp-for="Detail" id="TextArea" rows="12" cols="20" value="@Model.Detail"></textarea>
                }
                else
                {
                    <textarea asp-for="Detail" id="TextArea" rows="12" cols="20" value=""></textarea>
                }

            </div>
        </div>


       
        <div>
            <button type="submit">Save Note</button>
        </div>
        
    </form>
</div>