
@model Note

@{
    ViewData["Title"] = "NoteDetail";

}


<div>
    <h1>
        Subject:
    </h1>
    <h1>
        @Model.Subject
    </h1>
</div>
<hr />
<div>
    <h1>
        Detail:
    </h1>
    <div>
        @Model.Detail
    </div>
</div>

<div>
    <form method="post">
        <input type="submit" asp-route-id="@Model.Id" asp-action="NoteEditor" value="Edit Note">
        <input type="submit" asp-action="NoteBuilder" value="New Note">
        <input type="submit" asp-action="NoteList" value="Note List">
    </form>


</div>